 @model List<FileSorter.Models.GroupedData>

<div class="row folder-structure-row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            @foreach (var folder in Model)
            {
                <div class="col-md-4">
                    <p class="client-name"><b>@folder.EntityName</b></p>
                    @foreach (var year in folder.Years)
                    {
                        int counter = 0;
                        <button class="year accordion">@year.Year</button>
                        <div class="file panel">
                            @foreach (var file in year.FileName)
                            {
                                <p>@counter - @file</p>
                                counter++;
                            }
                        </div>

                    }
                </div>
            }
        </div>
    </div>
</div>  